@import "../../mixin.scss";

#page-search-map {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;

  .Map {
    .leaflet-container {
      width: 350px;
      height: 350px;
      border-radius: 8px;
      margin-bottom: 24px;
    }
  }
}
