@import "../../../mixin.scss";

#modal {
  padding: 10px;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .image-success {
      display: flex;
      justify-content: center;
      img {
        width: 230px;
      }
    }
  }

  .body {
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row-container {
        display: flex;
        flex-direction: row;
      }

      .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 1px solid #6c6c80;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;

        &:hover,
        &:active,
        &:focus {
          box-shadow: none;
          border-color: var(--text-color);
        }
      }
    }
  }
}
