@import "../../../mixin.scss";

#modal {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .image-success {
      padding: 10px;
      display: flex;
      justify-content: center;
      img {
        width: 230px;
      }

      p {
        padding: 10px;
      }
    }
  }
}
